main.landingPage {

}

main.landingPage > .content {
    width: 50%;
    background-image: url(https://images.unsplash.com/photo-1496450080853-5f78c43af9e9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    color: white;
}

main.landingPage > .content:hover {
    transition: 1.2s all;
    background-image: url(https://images.unsplash.com/photo-1484503793037-5c9644d6a80a?q=80&w=2130&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    color: #000;
}

main.landingPage > .content > table {
    text-transform: lowercase;
    letter-spacing: 3px;
    font-size: 25px;
    font-weight: 900;
    position: relative;
    top: 10%;
    left: 10%;
}

table > tbody > tr > td {
    font-size: 15px;
    padding: 15px;
    width: 10px;
    height: 10px;
}